.card{
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 50px;
  text-align: center;
  max-width: 700px;
  display: inline-block;


}
.card .card-image{
  max-width: 60px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;

}
.card .card-title{
  font-family: Arial, sans-serif;
  margin: 0;
  color: hsl(0, 0%, 20%);
}
.card .card-text{
  font-family: Arial, sans-serif;
  color: hsl(0, 0%, 20%);

}
.student{
  font-family: Arial, sans-serif;
  padding: 10px;
  font-size: 2em;
  border: 1px solid hsla(0, 0%, 50%, 0.8);

}
.student p{
  margin: 0;
}

.welcome-message{
  font-size: 2em;
  background-color: hsl(120, 100%, 42%);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;

}
.login-prompt{
  font-size: 2em;
  background-color: hsl(0, 100%, 42%);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;

}

